  <div class="main-w3layouts wrapper">
    <h1>Creative SignUp Form</h1>
    <div class="main-agileinfo">
      <div class="agileits-top">
        <%= form_for @user do |f| %>
          <%= render "shared/error_messages" %>
          <%= f.label :name %>
          <%= f.text_field :name, class: "text form-control", placeholder: "Username" %>
          <%= f.label :email %>
          <%= f.email_field :email, class: "text form-control", placeholder: "Email "%>
          <%= f.label :password %>
          <%= f.password_field :password, class: "text form-control", placeholder: "Password" %>
          <%= f.label :password_comfirmation %>
          <%= f.password_field :password_comfirmation, class: "text w3lpass form-control",
            placeholder: "Password confirmation" %>
          <div class="wthree-text">
            <label class="anim">
              <span>I Agree To The Terms & Conditions</span>
            </label>
            <div class="clear"> </div>
          </div>
          <%= f.submit "SIGNUP" %>
        <% end %>
        <p>Don't have an Account? <a href="#"> Login Now!</a></p>
      </div>
    </div>
    <!-- copyright -->
    <div class="colorlibcopy-agile">
      <p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
    </div>
    <!-- //copyright -->
    <ul class="colorlib-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
